.component {
	background-color: #D2DAD8;
	margin: 24px auto;
	width: 80vw;
}

.emptyCard {
	background-color: #fff;
	margin: 24px auto;
	width: 80vw;
	height: 50vh;
}	


.title {
	text-align: center;
	padding: 12px;
	margin: auto;
}

.list {

}



.product{
	background-color: #fff;
	border: solid 1px #fff;
	border-radius: 5px;
	padding: 12px;
	margin: 12px;
}
.product li{
	text-align: center;
	margin: 4px;	
	list-style-type: none;
}


.price {
	text-align: center;
	font-size: 24px;
}

.image {
	margin: auto;
	border-radius: 5px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
}

.form {
	background-color: #fff;
	margin: 12px;

}

.text {
	width: 80%;
	display: block;
	font-size: 18px;
	margin: 12px 4px;
}

.warning {
	font-size: 12px;
	color: red;
}

.submit {
	padding: 12px 24px;
	margin: auto;
	text-align: center;
}

@media (max-width: 500px) {
  .info li {
    font-size: 8px;
  }
  .text {
  	margin: 12px auto;
  	text-align: center;
  }

}

