
.product{
	border: solid 1px gray;
	border-radius: 5px;
	display: block;
	padding: 12px;
	margin: 48px auto;
	background-color: #fff;
	text-align: center;
}

.price {
	text-align: center;
	font-size: 24px;
}

.image {
	margin: 12px auto;
	border-radius: 5px;
	background-position: center;
	background-size: cover;
	width: 80%;
	min-height: 200px;
}

h5 {
	margin: 0;
}

.component {
	text-align: left;
	margin: 4px;
	list-style-type: none;
}

.component ul{
	padding: 0;
}
		
.component ul li{
		list-style-type: none;
}










.submit {
	padding: 12px 34px;
	background-color: #e35d6a;
	border: none;
}

