@import '../../data/settings.scss';



.background {
    background-image: url(../../images/header.jpg);
	padding: 24px;
	height: 100vh;
	background-position:center center;
	background-color: #464646;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
    position: relative;
    margin-bottom: 20vh;
    -webkit-box-shadow: -1px 30px 94px 22px rgba(99,74,52,0.46);
	moz-box-shadow: -1px 30px 94px 22px rgba(99,74,52,0.46);
	box-shadow: -1px 30px 94px 22px rgba(99,74,52,0.46);
}

.header {
	width: 80%;
	margin: 12px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title {
	letter-spacing: 4px;
	font-family: $font-header;
	text-align: left;
	font-size: 72px;

}

.subtitle {
	letter-spacing: 2px;
	font-weight: normal;
	color: $color-one;
	font-family: $font-text;
	font-size: 48px;
	text-align: left;

	
}

.link {
	font-size: 24px;
	color: $color-one;
	padding: 12px 24px;
	background-color: #3b5998;
	text-decoration: none;
	transition: $transition;
}

.link:hover {
	background-color: $color-one;
	color: #3b5998;
}
@media(max-width: 1067px) {	
	.link {
		font-size: 12px;
	}
}

@media(max-width: 767px) {

	.background {
		background-image: url(../../images/header_mobile.jpg);
	

	.title {
		font-size: 36px;
	}

	.subtitle {
		font-size: 24px;
	}

	.link {
		padding: 6px 12px;
		font-size: 6px;
	}
}
}
