.background {
	padding: 24px;
    background: linear-gradient(110deg, #eec1ad 60%, #dbac98 60%);

}


.title {
	margin: 0;
	font-size: 36px;
	text-align: center;

}

.subtitle {

	font-size: 24px;
	text-align: center;

	
}